/*
* [title]
* Common
* [/title]
*/

/*
* [comment]
* All common styles
* [/comment]
*/

//[css]
*{
  box-sizing: boder-box;
}
$brand-color: #fff;
.test{
  position: relative;
  .child{
    position: relative;
    &.sibling{
      position: relative;
      &:before{
        position: relative;
        color: $brand-color;
      }
    }
  }
}
//[/css]
